/* Declaração das variáveis sendo Global: "*" */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Notion: função ":" */

/* Ativo no dark mode */
:root {
  --bg-url: url(../img/1322049.png);
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../img/Vector.svg);
  --highlight-color: rgba(255, 255, 255, 0.3);
}

/* Ativo no light mode */
.light {
  --bg-url: url(../img/lightModeCar.png);
  --text-color: rgba(78, 232, 75, 1);
  --stroke-color: rgba(78, 232, 75, 0.5);
  --surface-color: rgba(78, 232, 75, 0.1);
  --surface-color-hover: rgba(78, 232, 75, 0.2);
  --switch-bg-url: url(../img/Vector2.svg);
  --highlight-color: rgba(78, 232, 75, 0.3);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
  color: var(--text-color);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Altera o frame container EX: Altura, largura, posição, padding, etc */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/* Altera o frame profile EX: posição dos itens, display, direção, etc */
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Altera a imagem dentro do frame profile */
#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 1.5px solid var(--stroke-color);
  object-fit: cover;
}
#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

#botao {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#botao button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: #fff var(--switch-bg-url) no-repeat center;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.5s;
}

/* animação mouse sobre o botão dark/light mode */
#botao button:hover {
  outline: 8px solid var(--surface-color-hover);
  transition: all 0.5s;
}
.light #botao button {
  animation: slide-in 0.5s forwards;
}
#botao span {
  background: var(--surface-color);
  display: block; /*transforma o botão em um bloco. */
  width: 54px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 24px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

#links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background: var(--surface-color);
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);

  backdrop-filter: blur;
  -webkit-backdrop-filter: blur;
}
/* animação mouse sobre os links */

#links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);

  transition: all 0.5s;
}

#redeSocial {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 12px;
  font-size: 24px;
}
#redeSocial a {
  text-decoration: none;
  color: var(--text-color);
}

#footer {
  text-align: center;
  font-size: 14px;
  padding: 24px;
}

#footer a {
  text-decoration: none;
  color: var(--text-color);
}

/* Animações do botão dark/light mode (deslize) */
@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
